<nav class="navbar navbar-expand-md navbar-light bg-light rounded">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavBar" aria-controls="myNavBar"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="myNavBar">
        <ul class="navbar-nav">
            <li class="nav-item px-3">
                <a class="nav-link" href="{{.Site.BaseURL}}">Home</a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="{{.Site.BaseURL}}about/">About</a>
            </li>
            <a class="navbar-brand px-3 mt-2" href="{{.Site.BaseURL}}">M
                <img src="http://mfridman.com/assets/svg-icons/lovebot-icon.svg" alt="lovebot" width="28px"> F
            </a>
            <li class="nav-item px-3">
                <a class="nav-link" href="{{.Site.BaseURL}}blog/">Blog</a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="{{.Site.BaseURL}}ctf/">CTF</a>
            </li>
        </ul>
    </div>
</nav>