{{ define "main" }}
<blockquote class="blockquote text-left small py-2">
    <p>Stay hungry, keep learning, help others, be humble.</p>
    <p>Jotting down today's ideas/ notes/ opinions for my future-self and others with similar interests. time.Now() changes,
        and so may the aforementioned.</p>
</blockquote>

<h2>Recent:</h2>
{{ range first 10 .Site.Pages }} 
    {{ if .IsPage }}
    <div class="row">
        <div class="col-sm-3">
            {{.PublishDate.Format "January 02, 2006"}}
        </div>
        <div class="col-sm-9">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </div>
    </div>
    {{ end }}
{{ end }}
<div class="text-center">
    {{ .Content }}
</div>

{{end}}